@page 
@model BlazorTraining244949.Components.Pages.Modul08.IndexModel
<h1>test</h1>
<script>
    alert("test");
    var r= confirm("test");
    var s=prompt("test");
    document.title="Seitentitle";





</script>

@{
}
