@page "/js3"
@using RazorClassLibrary2
@inject IJSRuntime jsRuntime    
<h3>JS3</h3>
<button @onclick="ShowPrompt">Show </button>
@ausgabe
@code {
    string ausgabe;
    async Task ShowPrompt()
    {
        var js = new ExampleJsInterop(jsRuntime);
        ausgabe=await js.Prompt("test");
    }
}
