@page "/monat"
<h3>Monatsliste</h3>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1>@DateTime.Now.AddMonths(selectedMonat).ToString("MMMM")</h1>
        </div>
        <div class="col-12 col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">Monate</li>
                @for (int i = 1; i <= 12; i++)
                {
                    var m = i;
                    <li class='list-group-item list-group-item-action @(selectedMonat==m?"list-group-item-info":"")'
                    @onclick="()=>wahl(m)">

                        @DateTime.Now.AddMonths(i).ToString("MMMM")</li>
                }

            </ul>
        </div>

    </div>
</div>
@code {
    int selectedMonat;
    void wahl(int m)
    {
        selectedMonat = m;

    }
}
